<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
    <link rel="stylesheet" href="css/UI.css">
    <link rel="stylesheet" href="css/nav-wizard.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/userInterface.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
 
    <title>Registration</title>
</head>


<body>
<div class="re-form">
      <div class="container">
          <div class="row">
              <div class="col-sm-8 offset-sm-2">
                  <div>
                    <!--Nav Wizard-->
                    <ul class='nav nav-wizard'>
                      <li><a href='register.html' data-toggle="tab">Step 1 - Account Info</a></li>
                        <li class='active'><a href='pInterest.html' data-toggle="tab">Step 2 - Personal Info</a></li>
                        <li><a href='#step3' data-toggle="tab">Step 3 - Completed </a></li>
                        </ul>
                        <!--Register Form-->
                        <form @submit.prevent="handleSubmit">
                          <h2 class="text-center">About You</h2> 
                          <div class="form-group">
                            <label for="firstName">About Yourself</label>
                                <input type="text" v-model="user.firstName" v-validate="'required'" name="firstName" class="form-control" :class="{ 'is-invalid': submitted && errors.has('firstName') }" />
                          <div v-if="submitted && errors.has('firstName')" class="invalid-feedback">{{ errors.first('firstName') }}</div>
                          </div>
                          <div class="form-group">
                              <label for="lastName">Interested Area</label>
                              <input type="text" v-model="user.lastName" v-validate="'required'" name="lastName" class="form-control" :class="{ 'is-invalid': submitted && errors.has('lastName') }" />
                              <div v-if="submitted && errors.has('lastName')" class="invalid-feedback">{{ errors.first('lastName') }}</div>
                          </div>
                            <div class="form-group">
                              <button class="btn btn-primary">Register</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>


</body>

</html>